@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

::selection {
  background: #a3a3a3;
  color: #000000;
}

.style {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #e5e7eb;
}
.style:hover {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  cursor: pointer;
  fill: #4b5563;
}
.styleClick {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #4b5563;
  cursor: pointer;
}

.PM10map01 {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #cbd5e1;
}

.PM10map02 {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #64748b;
}

.PM10map03 {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #334155;
}

.tPM10map04 {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #0f172a;
}
